body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.container {
}
.containerForm{}
/* titleStyle  */
.titleStyle {
  background-color: #ac8f53
  ;
}

/* form */

form .form-control:focus{
  box-shadow: none;
  background-color: transparent;
}

input[type="text"],
input[type="email"]

{
 background-color: transparent;
  border: none;
  border-bottom: 2px solid #ac8f53;
  outline: none !important;
  border-radius: 0;
}
input[type="text"]:hover,
input[type="email"]:hover {
  border-color: #a2a0a5;
  outline: none;
}
textarea.form-control
{
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ac8f53;
 
}
textarea:hover{
  border-color: #a2a0a5;
}
.iconInput{
  color: #ac8f53;
  font-weight: bold;
}
.formBtn {
  background-color: #ac8f53;
  color: #fff;
  font-weight: bold;
  border-color: #fff;
  border-radius: 50px; 
  padding: 5px 20px;
}
.formBtn:hover {
  background-color: #fff;
  color: #ac8f53;
  font-weight: bold;
  border-color: #ac8f53;
}
/* icons */
.icons {
  margin: 0;
  padding: 0;
}
.iconContains {
  margin-left: 20px;
  margin-right: 20px;

}
.iconSocial{
  border: 2px solid #a2a0a5;
  border-radius: 5em;
  
}
.iconSocial:hover{
  border: 2px solid #ac8f53;
  border-radius: 5em;
  
  background-color: #ac8f53;
}
.iconSocial:hover a{
  color: #fff;
}
.iconSocial a{
  color: #a2a0a5;
}
.icon {
}
a .icon:nth-child(1) {
}
a .icon:nth-child(2) {
  color: #0e76a8;
}
.icon:nth-child(3) {
  color: #fccc63;
}
.icon:nth-child(4) {
  color: #00acee;
}
.input-group-text{
  background-color: #fff;
}


.header__center {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
}

.header__center::before,
.header__center::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}
